<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>LEILA</title>

<script src="/bower/jquery/dist/jquery.min.js"></script>
<link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/bower/dat.gui/dat.gui.min.js"></script>
<script src="/bower/gamepad/gamepad.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<link rel="stylesheet" href="/vendor/highlight/monokai_sublime.css">
<script src="/vendor/highlight/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="/javascripts/helpers.js"></script>
<script src="/javascripts/hexapod.js"></script>
<script src="/javascripts/gamepad.js"></script>
<script src="/javascripts/datgui.js"></script>
<script src="/javascripts/socket.js"></script>
<script src="/javascripts/init.js"></script>

<link rel='stylesheet' href='/stylesheets/style.css' />
