<!DOCTYPE html>
<html lang="en">

	<head>
		<% include partials/head.ejs %>
	</head>

	<body>
	<h1>LEILA</h1>

    <p>
      <button onclick="sendCode()">Send code</button>
      <button onclick="toggleLED()">Toggle LED</button>
      <button onclick="callA2()">Call RESPONSE_TEST</button>
      <button onclick="callBlink()">Call LED_BLINK_TEST</button>
    </p>

<div id="editor-holder">
  <div id="editor">//led13.on();
//board.io.sysex(0xA0, [512,512,512,512,512,512,512,512,512,512,512,512,512,512,512,512,512,512]);
//board.io.sysex(0xA0, [3, 1020, 680], [1, 2]); // move servo 3 to the position 1020 with speed 680
board.io.sysex(0x81, [1, 2, 3, 4, 5]);
</div>
</div>

<div id="log-table-holder">

  <table id="log-table" class="table table-bordered">
    <thead>
      <tr>
        <th class="number">#</th>
        <th class="time">Time</th>
        <th class="from">From</th>
        <th class="tag">Tag</th>
        <th char="message">Message</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>




		<% include partials/jsdefaults.ejs %>
	</body>

</html>