<!DOCTYPE html>
<html lang="en">

	<head>
		<% include partials/head.ejs %>
	</head>

	<body>

    <div id='main-holder'>

      <h1>LEILA <span id='version'></span><span id='time'></span></h1>

      <p>
        <button onclick="sendCode()">Send code</button>
        <select id="samples"></select>
      </p>

      <div id="editor-holder">
        <div id="editor"></div>
      </div>

    </div>

    <div id='threejs'></div>

    <div id="log-table-holder">

      <table id="log-table" class="table table-bordered">
        <thead>
          <tr>
            <th class="number">#</th>
            <th class="time">Time</th>
            <th class="from">From</th>
            <th class="tag">Tag</th>
            <th char="message">Message</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

    </div>

  	<% include partials/jsdefaults.ejs %>

	</body>

</html>