<!DOCTYPE html>
<html lang="en">

	<head>
		<% include partials/head.ejs %>
	</head>

	<body>
		<h1>Hello, world!</h1>



<pre><code class="javascript">alert('hello');</code></pre>



<div id="table-holder">

  <table id="logTable" class="table table-bordered">
    <thead>
      <tr>
        <th class="number">#</th>
        <th class="time">Time</th>
        <th class="from">From</th>
        <th char="message">Message</th>
      </tr>
    </thead>
    <tbody>
    	<% for (var i = 0; i < 20; i++) { %>
      <tr>
        <td><%= Math.pow(10, i) %></td>
        <td>16:55:21</td>
        <td>Arduino</td>
        <td><%= JSON.stringify({"myobject": "hello", asdf:"avzx"}) %></td>
      </tr>
  <% } %>
    </tbody>
  </table>

</div>




		<% include partials/jsdefaults.ejs %>
	</body>

</html>